body {
  background-color:black;
  text-color:white;
}

a {
  color: white;
}


ul.led_array{
  width: 600px;
  margin: 100px auto 0 auto;
}

ul.led_array li{
  display:inline;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}

ul.led_array li:nth-child(odd){
  background-color:#aeb243;
}

ul.led_array li:nth-child(even){
  background-color:red;
}
