ul.led_array{
  width: 600px;
  margin: 100px auto 0 auto;
}

ul.led_array li{
  display:inline;
  padding: 10px 10px 10px 10px;

}

ul.led_array li:nth-child(odd){
  background-color:yellow;
}

ul.led_array li:nth-child(even){
  background-color:red;
}
