<html>
<head>
	<title>Events testing</title>
	<link rel="stylesheet" href="master.css" media="screen"  charset="utf-8">
</head>
<body>
	<div id="message">

	</div>
	<ul class="led_array">
		<li><a href="./light/1" id="led_1">LED 1</a></li>
		<li><a href="./light/2" id="led_2">LED 2</a></li>
		<li><a href="./light/3" id="led_3">LED 3</a></li>
		<li><a href="./light/4" id="led_4">LED 4</a></li>
		<li><a href="./light/5" id="led_5">LED 5</a></li>
		<li><a href="./light/6" id="led_6">LED 6</a></li>
		<li><a href="./light/7" id="led_7">LED 7</a></li>
		<li><a href="./light/8" id="led_8">LED 8</a></li>
	</ul>
</body>
</html>
